body {
  font-family: "Open Sans", sans-serif;
}

#generate {
  margin-left: 50px;
  background-color: rgb(50, 124, 242);
  font-size: larger;
  border-radius: 10px;
  outline-style: none;
  border-color: black;
}

#generate:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

span {
  margin-left: 50px;
}
